.detail_number_items {
      margin-bottom: 20px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid black;
      
}

.detail_number_items input {
      border: none;
      padding-left: 10px;
      font-style: italic;
      outline: none;
}

.arrow-icon {
      cursor: pointer;
      font-size: 20px;
}

.arrow-icon::after {
      content: '';
      display: block;
      width: 40px;
      height: 10px;
      background-color: red;
}