.SignUpForm_input {
      border-bottom: 1px solid rgb(204, 203, 203);
}

.form-group input{
      width: 100%;
      padding: 24px;
      outline: none;
      border: 1px solid rgb(204, 203, 203);
      border-bottom: none; 
}


.SignUpBtn {
      width: 100%;
      margin-top: 25px;
      padding: 20px;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      color: rgb(228, 225, 225);
      border: none;
      background-color: rgb(102, 99, 99);
      display: flex;
      justify-content: center;
}

.SignUpBtn:hover {
      background-color: rgb(118, 114, 114);
}

