.subcribe-form > input {
      padding: 0 80px 0 10px;
}

.homeSubscribe-greeting {
      font-size: 13px;
}

@media (max-width: 576px) {

      .subcribe-form > input {
      width: 90%;
      padding: 0 10px 0 10px;
      }
}