.DetailPageContainer {
      width: 68%;
      margin: 20px auto 40px;
}

.detailPage_grid {
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
}

/* mobile */
@media (max-width: 576px) {
      .DetailPageContainer {
            width: 88%;
            margin: 20px auto 40px;
      }
      
      .detailPage_grid {
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr;
      }
}

@media (min-width: 577px) and (max-width: 768px) {
      .DetailPageContainer {
            width: 68%;
            margin: 20px auto 40px;
      }
      
      .detailPage_grid {
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr;
      }
}