.HomeBanner {
      position: relative;
}

.HomeBanner img {
      width: 100%;
      height: 100%;
}

.bannerAdvertise {
      position: absolute;
      width: 30%;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
}

/* responsive */
@media (max-width: 768px) {
      .HomeBanner img {
            margin-bottom: 20px;
            width: 100%;
            height: 25vh;
      }

      .bannerAdvertise {
            margin-top: 50px;
            transform: translateY(-50%);
      }

      .bannerAdvertise {
            position: absolute;
            width: 60%;
            top: 20%;
            left: 5%;
            transform: translateY(-50%);
      }
      .bannerAdvertise p {
            font-size: 0.9rem;
            font-weight: medium;
      }
      .bannerAdvertise h4 {
            font-size: 1.1rem;
      }

}