.customerSupportContainer {
      width: 35%;
      height: 65vh;
      position: fixed;
      top: 50%;
      left: 50%;
      margin: auto;
      /* padding: 20px; */
      transform: translate(-50%, -50%);
      border-radius: 20px;
      box-shadow: 2px 2px 10px 2px rgb(156, 154, 154);
}